<h1><a href="/posts/<%= @post.id %>"><%= @post.title %></a></h1>

<div class='post-container'>

    <p><%=@post.content%><p>
    <p>Posted by <%= @user.username %></p>
    <p>Posted <%= @post.time_since_creation%> hours ago</p>

    <input id='new-comment' type='submit' value='Add a Comment'>
    <%= erb :'/comments/_new'%>

</div>

<div>
  <%= erb :'answers/_new' %>
</div>
